@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@charset"uft-8";
body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
img{
    border:0;
}
body{
    min-width: 1000px;
    font-family: 'Noto sans KR',sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.cf:after{
    content: "";
    display: block;
    clear: both;
}
.inner{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#wrap{
    width: 100%;
}
/*header*/
#header{}
.headerTop{
    background: #282828;
    height: 40px;
    line-height: 40px;
}
.headerTop a{
    color: #fff;
    font-size: 11px;
}
.engbtn{
    width: 80px;
    height: 40px;
    text-align: center;
    border-left: 1px solid #231f20;
    border-right: 1px solid #231f20;
}
.engbtn a{
    display: block;
    padding: 0 15px;
}
.utlli{
    position: absolute;
    right: 0;
    top: 0;
}
.utlli li{
    float: left;
    font-size: 11px;
}
.utlli li:last-child{
    background: url(../images/common/ico_find_store.gif) 0 no-repeat;
    background-position: right center;
    padding-right: 20px;
}
.utlli li a{
    display: block;
    padding: 0 15px;
    border-left: 1px solid #231f20;
}
.headerIn{
    padding: 20px 0;
}
.headerIn h1{
    background: url(../images/common/logo.jpg) 0 no-repeat;
    background-position: center;
    background-size: 100%;
    text-indent: -9999px;
    width: 150px;
    float: left;
}
.headerIn h1 a{}
.gnb{
    width: 850px;
    font-size: 0;
    float: right;
    text-align: right;
}
.gnb li{
    padding-left: 30px;
    display: inline-block;
    font-size: 16px;
}
.gnb li a{
    height: 48px;
    line-height: 48px;
    display: block;
    color: #000;
}

/*컨테이너*/

#container{}

.mainSlider{
    width:100%;
    height: 650px;
    overflow: hidden;
    position: relative;
}
.mainSlider img{
    position: absolute;
    left: 50%;
    margin-left:-960px;
}
.Sliderbtn{
    left: 50%;
    position: absolute;
    margin-left: -8px;
    bottom: 20px;
    width: 15px;
    height: 15px;
    background: #000;
    text-indent: -9999px;
    border-radius: 50%;
}
.Sliderbtn a{}

/*mainRow1*/

.mainRow1{
    background: #f5f5f5;
    padding: 50px 0;
}
.leftBox,.rightBox{
    width:50%;
    float: left;
    box-sizing: border-box; 
    padding-left: 100px;
}
.leftBox{
    border-right: 1px solid #ddd;
}
.leftBox h2{
    width: 220px;
    font-size: 30px;
    color: #711b04;
}
.leftBox p{
    width: 270px;
    margin-top: 30px;
    color: #464646;
}
.rightBox{
    color: #464646;
    line-height: 30px;
    font-size: 14px;
}
.rightBox a{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../images/main/btn_more02.png)no-repeat;
    background-size:100%;
    text-indent: -9999px;
    margin-top: 15px;
}

/*mainRow2*/

.mainRow2{
    background: url(../images/main/visual01.jpg) 0 no-repeat;
    text-align: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom:50px;
    color: #fff;
}
.mainRow2 h2{
    font-size: 30px;
}
.mainRow2 h2:after{
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background: #fff;
    margin: 15px auto;
}
.mainRow2 p{}
.mainRow2 .text{
    font-size: 13px;
    margin-top: 15px;
    line-height: 25px;
}
.mainRow2 a{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../images/main/btn_more.png) no-repeat;
    background-size:100%;
    text-indent: -9999px;
    margin: 0 auto;
    margin-top: 70px;
}
/*mainRow3*/
.mainRow3{
    text-align: center;
    padding: 70px 0;
}
.mainRow3 h2{
    color: #711b04;
}
.mainRow3 p{
    color: #464646;
    margin: 20px 0;
    margin-bottom: 40px;
}
.row3box{
    background: #f7f7f7;
    height: 250px;
    float: left;
    position: relative;
    margin-left: 2px;
    margin-bottom: 2px;
    overflow: hidden;
}
.row3box a{}
.row3box a img{
    position: absolute;
    left: 50%;
    margin-left: -239px;
}

.menuInfo{
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.menuInfo h3{
    color:#7d645a;
    font-size: 15px;
}
.menuInfo p{
    color: #464646;
    font-size: 12px;
    margin: 0;
}

.row3box.lBox{
    width:400px;
    height:502px;
    margin-left: 0;
}
.row3box.sBox,.row3box.sBox1{
    width: 248px;
}
.row3box.sBox img,.row3box.sBox1 img{
    margin-left: -119px;
}
.row3box.mBox,.row3box.mBox1{
    width: 348px;
}
.row3box.sBox1 img,.row3box.mBox1 img{
   display: block;
}
/*mainRow4*/
.mainRow4{
    background: url(../images/main/visual02.jpg) 0 no-repeat;
    text-align: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom:50px;
    color: #fff;
}
.mainRow4 h2{
    font-size: 30px;
}
.mainRow4 h2:after{
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background: #fff;
    margin: 15px auto;
}
.mainRow4 p{}
.mainRow4 .text{
    font-size: 13px;
    margin-top: 15px;
    line-height: 25px;
}
.mainRow4 a{
    width: 200px;
    display: block;
    background: url(../images/main/btn_find_store.png);
    background-size:100%;
    text-indent: -9999px;
    margin: 0 auto;
    margin-top: 20px;
}
/*mainRow5*/
.mainRow5{
    background: #beb4af;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}
.mainRow5 span{
    display: inline-block;
    vertical-align: middle;
}
.mainRow5 span.title{
    font-size: 25px;
    font-weight: bold;
}
.mainRow5 span.sTtle{
    font-size:14px;
    padding-left: 30px;
    padding-right: 15px;
}
.mainRow5 span a{
    width: 30px;
    display: inline-block;
}
.mainRow5 span a img{
    width: 100%;
}

/*mainRow6*/
.mainRow6{
    background: url(../images/main/bg_visual.jpg) 0 no-repeat;
    padding: 100px 0;
}
.row6Box{
    width: 250px;
    height: 120px;
    padding: 0 15px;
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.row6Box img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.row6Box h3{
    font-weight: 800;
    font-size: 13px;
    color: #7d645a;
    display: inline-block;
}
.row6Box p{
    font-size: 11px;
    color: #464646;
    margin-top: 10px;
    font-weight: 600;
    line-height: 18px;
}

/*footer*/
#footer{
color: #646464;
}
#footer a{
   color: #646464; 
}
.footerTop{
    background: #282828;
    font-size: 13px;
    padding: 50px 0;
    position: relative;
}

.fMenu{
    float: left;
    margin-right: 80px;
}
.fMenu h3{
    font-size: 16px;
}
.fMenu h3:after{
    content:"";
    display: block;
    width: 30px;
    height: 2px;
    background: #646464;
    margin: 15px 0;
}
.fMenu div{
    line-height: 22px;
}
.fMenu div a{
    color: #8c8c8c;
}
.topbtn{
    width: 102px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    background: url(../images/common/btn_go_top.png)no-repeat;
    position: absolute;
    top: -39px;
    left: 50%;
    margin-left: -51px;
}
.topbtn a{
    display: block;
}
.footerBottom{
    padding: 50px 0;
    background: #1e1e1e;
}
.footerBottom h1{
    width: 155px;
    height: 25px;
    background: url(../images/common/logo_foot.gif)no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    margin-bottom: 20px;
}
.footerInfo{
    line-height: 18px;
}
.footerInfo li{
    float: left;
    font-size: 13px;
}
.footerInfo li:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background: #272727;
    margin: 0 5px;
    
}
.footerInfo li:nth-child(4):after,footerInfo li:last-child:after{
    display: none;
}
.footerBottom p{
    font-size: 13px;
    margin-top: 30px;
}
.fsns{
    position: absolute;
    top:0;
    right: 0;
}
.fsns li{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
}
.fsns li a{}
.fsns li a img{
    width: 100%;
}

/*반응형관련*/

.mTopIcon{
    display: none;
}



/*반응형구조*/
@media screen and (max-width:768px){
    body{
        min-width: auto;
    }
    .inner{
        width: auto;
    }
    .gnb,.headerTop{
        display: none;
    }
    .headerIn{
        padding: 10px;
    }
    .mTopIcon{
        width: 70%;
        display: block;
        float: left;
        text-align: right;
        margin-top: 10px;
    }
    .mTopIcon li{
        width: 25px;
        padding-left: 15px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    .mTopIcon li img{
        width: 100%;
    }
    .mTopIcon li:first-child img{
        width: 100%;
    }
    .mTopIcon li:nth-child(2) img{}
    .mTopIcon li:nth-child(3) img{}
    .mTopIcon li:nth-child(4) img{
        width:18px;
    }
    .mTopIcon li:last-child img{
        width: 22px;
    }
    .headerIn h1{
        width: 30%;
        float: left;
    }
    
    /*컨테이너*/
    .mainSlider{
        height: 270px;
    }
    .mainSlider img{
        width: 800px;
        margin-left: -400px;
    }
    /*mainRow1*/
    .mainRow1{
        padding: 20px;
    }
    .leftBox,.rightBox{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .leftBox h2,.leftBox p{
        width: 100%;
    }
    .leftBox h2:after{
        content: "";
        display: block;
        width: 150px;
        height: 1px;
        margin: 10px auto;
        background: #999;
    }
    .leftBox{
        border-right: 0;
    }
    .leftBox p{
        font-size: 13px;
        font-weight: 800;
        margin-bottom: 15px;
        margin-top: 0;
    }
    .rightBox{
        font-size: 13px;
        line-height: 20px;
    }
    .rightBox a{
        margin: 0 auto;
        margin-top: 30px;
    }
    
    /*mainRow2*/
    
    .mainRow2{
        padding: 100px 20px 50px 20px;
    }
    
    /*mainRow3*/
    
    .mainRow3{
        padding: 70px 20px;
    }
    .mainRow3 h2{
        width: 250px;
        margin: 0 auto;
    }
    .mainRow3 p{
        font-size: 13px;
    }
    .row3box.lBox{
        width: 100%;
        height: 200px;
        
    }
    .row3box a img{
        width: 150px;
        margin-left: -75px;
    }
    .row3box.sBox,.row3box.sBox1,.row3box.mBox,.row3box.mBox1{
        width: calc(50% - 1px);
        height: 200px;
    }
    .mainRow3 .inner div:nth-child(2n){
        margin-left: 0;
        background-size: 200px;
        background-position: center top;
        background-color: #f7f7f7;
    }
    .mainRow3 .inner div:nth-child(3n){
        background-size: 200px;
        background-position: center top;
        background-color: #f7f7f7;
    }
    .row3box.sBox1{
        background: url(../images/main/menu_link021.jpg)no-repeat;
      
    }
    .row3box.mBox1{
         background: url(../images/main/menu_link031.jpg)no-repeat;
    }
    .row3box.sBox img,.row3box.sBox1 img{
        margin-left: -75px;
    }
    .row3box.mBox img,.row3box.mBox1 img{
        width: 200px;
        margin-left:-100px;
        top: 20px;
    }
    .row3box.sBox1 img,.row3box.mBox1 img{
        display: none;
    }
    .menuInfo{
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    /*mainRow4*/
    
    .mainRow4{
        background-size: cover;
        background-position: center;
        padding: 80px 20px;
    }
    
     /*mainRow5*/
    
    .mainRow5{
        padding: 20px 0;
    }
    .mainRow5 span.sTtle{
        padding: 0 15px;
    }
    .mainRow5 span a{
        margin-top: 15px;
    }
    
    /*mainRow6*/
    .mainRow6{
        background-size: cover;
        background-position: center;
    }
    .row6Box{
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    
    /*footer*/
    
    .footerTop{
        padding: 0;
    }
    .fMenu{
        width: 100%;
        float: none;
    }
    .fMenu div,.fMenu h3:after{
        display: none;
    }
    .fMenu h3{
        padding: 0 15px;
        line-height: 50px;
        border-top:1px solid #000;
    }
    .topbtn{
        width: 80px;
        height: 30px;
        background-size: 100%;
        top: -30px;
        line-height: 35px;
    }
    .topbtn a{
        padding-top: 0;
        margin-left: -8px;
    }
    .footerBottom{
        padding: 20px 0;
    }
    .footerBottom h1{
        width: 130px;
        margin: 0 auto;
    }
    .footerBottom p{
        text-align: center;
        
    }
    .footerInfo{
        text-align: center;
    }
    .footerInfo li{
        width:100%;
        float: none;
        display: inline-block;
    }
    .footerInfo li:after{
        display: none;
    }
    .footerInfo li:nth-child(-n+5):after{
        display: inline-block;
    }
    .footerInfo li:nth-child(4):after{
        display: none;
    }
    .footerInfo li:nth-child(-n+5){
        width: auto;
        margin: 10px 0;
    }
    .fsns{
        width: 105px;
        margin: 0 auto;
        position: static;
        margin-top: 15px;
    }
}